# Next Auth Configuration
NEXTAUTH_SECRET="" # Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_URL_INTERNAL="http://localhost:3000"

# OAuth Providers (Optional)
AUTH_GOOGLE_ID="" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GOOGLE_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_TRUST_HOST="true" # Required for Auth.js behind proxies/Vercel

# Prisma Database
DATABASE_URL="postgresql://user:password@localhost:5432/ecommerce_db?schema=public" # PostgreSQL connection string

# Next.js Public Variables
NEXT_PUBLIC_APP_NAME="Ecommerce Site"
NEXT_PUBLIC_APP_DESCRIPTION="Ecommerce Site"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Product Settings
LATEST_PRODUCTS_LIMIT="4"